
.icon:hover {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
.main-content {
  /* display: grid;
  grid-template-rows: 1fr auto; */
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 64px);
}
.main-content button {
  max-width: 180px;
  align-self: flex-end;
}